<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Root Victory Tracker</title>
    <link href="{{ url_for('static', filename='styles/style.css')}}" rel="stylesheet" />
</head>

<body>

<div class="sidebar" style="display:none" id="sidebar">
  <button onclick="close_sidebar()" class="w3-bar-item w3-large">Close&times;</button>
  <a href="#" class="sidebar-item">Group 1</a>
  <a href="#" class="sidebar-item">Group 2</a>
  <a href="#" class="sidebar-item">Create new group</a>
</div>

<button class="menu-button" id ="menu-button" onclick="open_sidebar()">☰</button>

<button class="mode-button" id ="mode-button" onclick="change_mode()">Scoreboard Mode</button>

<script>
function open_sidebar() {
  document.getElementById("sidebar").style.display = "block";
}

function close_sidebar() {
  document.getElementById("sidebar").style.display = "none";
}

function change_mode() {
    const scoreboard = document.getElementById("scoreboard");
    const spreadsheet = document.getElementById("spreadsheet");
    const modeButton = document.getElementById("mode-button");

    if (spreadsheet.style.display === "none") {
        scoreboard.style.display = "none";
        spreadsheet.style.display = "flex";
        modeButton.textContent = "Scoreboard Mode";
    } else {
        scoreboard.style.display = "flex";
        spreadsheet.style.display = "none";
        modeButton.textContent = "Spreadsheet Mode";
    }
}
</script>

 <main>
    <h1>Root Scoreboard</h1>

    <table class ="spreadsheet" id="spreadsheet" style="display:none;">
        <tr>
            <th>Name</th>
            {% for faction in factions %}
            <th>{{ faction.value }}</th>
            {% endfor %}
            <th>Total</th>
        </tr>
        {% for player, victories in wins.items() %}
        <tr>
            <td>{{ player }}</td>
            {% for faction in factions %}
            <td>{{ victories.count(faction) }}</td>
            {% endfor %}
            <td>{{ wins[player]|length }}</td>
        </tr>
        {% endfor %}
    </table>

    <ul class="scoreboard" id="scoreboard">
        {% for player, victories in wins.items() %}
        <li>
            <span class="player">{{ player }}</span>
            <span class="victories">
                {% for faction in victories %}
                <img src="{{ url_for('static', filename='styles/images/' ~ faction.name ~ '.png') }}"
                     alt="{{ faction.value }}" title="{{ faction.value }}" />
                {% endfor %}
            </span>
        </li>
        {% endfor %}
    </ul>

    <form class="update" method="post">
        <h3>Update winners</h3>

        <div class="field">
            <label for="winner">Who won?</label>
            <select name="update-winner" id="winner">
                <option value="" disabled selected>Select a player</option>
                {% for player in wins %}
                <option value="{{ player }}">{{ player }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="field">
            <label for="faction">Which faction?</label>
            <select name="update-winner-faction" id="faction">
                <option value="" disabled selected>Select a faction</option>
                {% for faction in factions %}
                <option value="{{ faction.name }}">{{ faction.value }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="field">
            <label for="pwd">Admin Password:</label>
            <input type="password" id="pwd" name="pwd"/>
        </div>

        <input type="submit" value="Submit" />
    </form>
    </main>
</body>

</html>